* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* head section */
.header {
    height: 50vh;
    background-image: url(../img/events-heavenly-header.jpg);
    background-position: center center;
    background-size: cover;
    margin-bottom: 50px;
}

.layer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(214, 46, 51, 0.6);
    height: 100%;
    width: 100%;
}

.content {
    color: #eee;
}

.content>h1 {
    font-size: 5rem;
}

.content>p {
    text-align: center;
    padding-top: 10px;
}

/* head section */

/* extended section */
.extended {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.item {
    width: 35%;
}

.item h4 {
    padding: 15px 0;
    background-color: rgba(214, 46, 51, 0.6);
    cursor: pointer;
    color: #eee;
}

.item p {
    padding: 10px;
    background-color: #ccc;
}

/* extended section */